@{
    ViewData["Title"] = "Sala de Escape";
}
<link rel="stylesheet" href="~/css/style.css">

<div class="container">
    <h1>¡Bienvenidos a la Sala de Escape!</h1>
    <p>En esta sala de escape tendrás que resolver las adivinanzas para poder escapar</p>
    <img src="~/img/skibidiexe.jpg" alt="skibidi"/>
    <p>
        <a href="@Url.Action("Tutorial", "Home")">Tutorial del juego</a> | 
        <a href="@Url.Action("Comenzar", "Home")">Inicio del juego</a> 
    </p>
</div>


