@{
    ViewData["Title"] = "Tutorial";
}
<link rel="stylesheet" href="~/css/style.css">

<div>
    <h1>Tutorial del Juego:</h1>
    <p>Advina los jugadores de fútbol en base a las pistas otorgadas por mi, tu verdugo para siempre<p>
    <p>La temática elegida es: Skibidi Adivinanzas</p>
</div>