@{
    ViewData["Title"] = "¡Victoria!";
}
<link rel="stylesheet" href="~/css/style.css">

<div>
    <h1>¡Felicidades, has ganado!</h1>
    <p>Has completado todas las salas correctamente.</p>
    <p>Gracias por jugar a nuestra Sala de Escape.</p>
</div>